.coaching-modal {
    display:flex;
    // height: 400px;
    // width: 500px;
    
}
.modal-container {
  display: flex;
  width: 100%;
}

.modal-outline {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 500px;
    border: 1px dotted black;
    margin-left: 10%;
    background-color: #f7f7f7;
}