.pitch_container {
    display: flex;
    // justify-content: center;
    // align-items: center;
  align-items: center;
  }

  .pitch_container-about-me {
    margin-left: 32px;

  }
  .pitch_container-video {
    min-width: 50%;

  }


  