.profile-page {
  margin-top: 100px;
}

.main_banner_container {
  width: 100%;
  img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;

  }

}

.profile-flex {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  .username-pr {
    font-size: 20px;
    margin-left: 16px;
    font-weight: 500;
  }
}

.banner_user-info {
  background:#f4f4f4;
  padding:40px 0px;
  margin-bottom:50px;
  &-name {
    display: flex;
    justify-content: space-between;
  }
  .container {

    display: flex;
    justify-content: space-between;
  }
  .button {
    flex-shrink: 1;
  }
  img {
    height: 80px;
    width: 80px;
    border-radius: 50%;

  }
}