.video-section {
  margin:56px 0px;
  &-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  &-view-more {
    margin-top: 24px;
  }
  &-videos {
    display: flex;
    
    .video-thumbnail {
      margin-right: 4%;
      width: 25%;
    }
    .video-thumbnail:last-child {
      margin-right: 0;
    }
  }
}