.video-thumbnail-skeleton {
  height: 300px;
  min-width: 250px;
  width: 100%;
  max-width: 350px;
  background-repeat: no-repeat;
  background-image: 
    /* layer 2: avatar */
    /* white circle with 16px radius */
    radial-gradient(circle 16px, white 99%, transparent 0),
    /* layer 1: title */
    /* white rectangle with 40px height */
    linear-gradient(black 200px, transparent 0),
    /* layer 0: card bg */
    /* gray rectangle that covers whole element */
    linear-gradient(#f4f4f4 100%, transparent 0),
  linear-gradient(red 70px, transparent 0);
    background-size:
    32px 32px,  /* avatar */
    100% 100%, /* title */
    100% 100%,  /* card bg */
    50px 100px;
    background-position:
    5% 80%,  /* avatar */
    0% 0%, /* title */
    0px 0px,       /* card bg */
    90% 90%;
}


.video-thumbnail {
  width: 100%;
  max-width: 350px;

  > a {
    text-decoration: none;
    color: inherit;
  }
  &-image {
    object-fit: cover;
    height: 200px;
    width: 100%;
  }
  .user-profile {
    margin-right: var(--spacing-1);
    
  }
  &-info-user {
    font-weight: 500;
  }
  &-title {
    font-size: 1rem;
    font-weight: 600;
  }
  &--information {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    margin-top: var(--spacing-1);
    &-date {
      margin-right: var(--spacing-2);
    }
  }
  &--information-date-views {
    display: flex;
    color:var(--color-black-faded);
    font-size: 0.9rem;
  }
}