.video-thumbnail {
  max-width: 400px;
  cursor: pointer;
  position: relative;
  
  > a {
    height: 100%;
    width: 100%;
    text-decoration: none;
  }
  &:hover {
    transform: translateY(-3px);
    transition: 0.3s transform linear;
  }
  &-img-wrap {
    position: relative;
  }
  &-img {
    height: 200px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    object-fit: cover;
    width: 100%;

  }
  &-text {

    color:black;
    text-decoration: none;
    font-weight: 600;
    background-color: var(color-secondary-1-1);
  }
  &-user {
    margin-top: 8px;
    font-size: 14px;
    color:var(--text-faded);
  }
  &-user {
    margin-top: 8px;
    font-size: 14px;
    color:var(--text-faded);
  }
  &-popup-play {
    color:White;
 
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    &-icon {
      font-size: 40px;
    }
    &-title {
      font-weight: 700;
      font-size: 18px;
    }


  }
}