.icon-button {
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-primary-2);
  cursor: pointer;
  > svg {
    font-size:24px;
    color: var(--color-primary-0);
  }
}