.input {
  height: 60px;
  border:None;
  background:None;
  font-size: 1rem;
  padding: 0 0 0 var(--spacing-1); 
  width: 100%;
  border-radius: var(--border-radius);
  border:1px solid #dadada;
}

.input-error {
  padding: var(--spacing-1) var(--spacing-2);
  border-radius: var(--border-radius)
}