.navbar {
  margin-top: 10px;
  z-index: 1000;
  width: 100%;
  margin-bottom: 100px;
  background-color: var(--color-primary-0);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  &-list-item {
    text-decoration: none;
    list-style: None;

  }

  &-profile-img {
    margin-left: 16px;
  }

  &-logo {
    max-height: 50px;
  }
  


  &-list-link {
    color:black;
    text-decoration: none;
    font-weight: 600;
  }
  &-items-list {
    display: flex;
    align-items: center;
    .navbar-list-item:nth-child(2) {
      margin: 0 30px;
    }
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }


  
}