.comment-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px;
  background:White;
  position: relative;
  &-close {
    position: absolute;
    top:10px;
    right:10px;
    cursor: pointer;
  }
  .textarea {
   width: 100%;
    height: 100%;
  }
  .textarea-wrap {
    min-height: 300px;
    width: 100%;
  }
  &-user-text-wrap {
    display: flex;
    .user-profile {
      margin-right: 16px;
    }
  }
  .textarea {
    outline: none;
  }
}