.login-modal {
  background:white;
  padding: 40px 16px;
  .hero-image-wrap {
    width: 50%;
  .hero-image {
    width: 100%;
    height: 100vh;
  } 
  }
  &-button-wrap {
    display: flex;
    .button:last-child {
      margin-left: 16px;
    }
  }
  .input-wrap {
    min-width: 350px;
    margin-bottom: 16px;
  }
}

.sign-up-container {
  padding: 40px 32px;
  min-width: 400px;
  background:White;
  .input-wrap {
    margin-bottom: 24px;
  }
}