.create-comment-modal {
  background:White;
  min-width: 600px;
  max-width: 600px;
  width: 100%;
  padding:32px 24px;
  &-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom:32px;
  }
  &-button-wrap {
    display: flex;
    .button { 
      margin: 0 20px;
    }
  }
}