.video-comment {
  background-color:#fff;
  padding-left: 7%;
  cursor: pointer;
  background:white;
  padding:16px 8px;
  a {
    text-decoration: none;
  }
  &-username {
    font-size: 16px;
    font-weight: 600;
    color:black;
    text-decoration: none;
  }

  &-profile-image {
    margin-right: 16px;
  }
  &-false {
    background:white;
  }
  &-info {
    display: flex;
    align-items: center;
    background: white;
  }
  &-timestamp {

    color: var(--text-faded) !important;
    font-size: 12px;
  }
  &-comment {
    margin-top: 16px;
    background: white;
    font-size:12px;
    margin-bottom: 2px;
    margin-left: 24px;
  }

  &-likes{
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-score {
      margin: 5px 0px;
    }
    
  }
}

.video-comment-info {
  background: white;
}

.video-comment-comment {
  background:white;
}

.video-comment-active {
  background: white;
}
