.video-player-page {
  display: flex;
  margin-top: 50px;
  height: calc(100vh - 120px);
  justify-content: space-between;
  .video-wrap {
    width: 50%;
    video {
      display: block;
      margin-bottom: 24px;
    }
  }

  .video-comment-list {
    height: calc(100vh - 120px);
    background: var(--color-list);
    overflow: scroll;
    width: 45%;
    padding:32px 16px;
    .video-comment {
      margin-bottom: 32px;
    }
  }

}

.video-info {
  position: relative;
  &-user {
    margin-top: 24px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
  }
  &-upper {
    padding-bottom: 16px;
    border-bottom: 1px solid var(--text-faded);
  }
  &-description {
    color: var(--text-faded);
    max-width: 600px;
  }

  &-views, &-createdAt {
    font-size: 14px;
    color:var(--text-faded);
    font-weight: 500;
    margin-right: 16px;
  }
  .icon-button {
    position: absolute;
    right: 0px;
    top:0px
  }
}


.video-comment-general-list {
  margin: 100px 0px;
}
.video-comment-general {
  position: relative;
  margin-bottom: 50px;
  padding-bottom: 20px;
  &-user {
    font-size: 16px;
    font-weight: 500;
    margin-bottom:8px;
  }
  &-text {
    color: var(--text-faded);
    max-width: 500px;

  }
  &-created-at {
    font-size: 14px;
    position: absolute;
    bottom: 0;
    right:0 ;
  }
}